body 
{
    background-image: url(img/papierPeintBeige.jpg);
}

header, footer
{
    background: linear-gradient(to bottom, #575656, #cec7c7 20%);
}

h1
{
    color: #6a46b3;
    font-weight: bold;
}

figure, #sectionConfirmation, #emptyBasket 
{
    box-shadow: 6px 4px 7px 6px rgb(78, 77, 77);
}

.logo
{
    box-shadow: 4px 2px 5px 4px rgb(78, 77, 77);  
}

.list-middot > li:not(:last-child) ::after
{
    content: "\00b7";
    margin: 1rem;
    color: black;
}
 
a
{
    color: black;
}

select
{
    display: flex;
}

.product_price, option, label
{
    font-weight: bold;
}

#bouton,.btn, h1, h2, h4, a
{
    font-style: italic;
}

#emptyBasket, #infoBasket
{ 
    display: none;
}



